.gradient-custom {
    background: #6a11cb;
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
}



#titulo {
    font-family: ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    transform: rotate(-1deg);
    color: #313131;
    text-shadow: rgba(93, 82, 248, 0.692) 3px 5px 3px;
}

.div_form {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 200px;
    color: #444444;
    background-color: rgba(105, 113, 233, 0.548);
    box-shadow: #6b6b6b 10px 15px 30px 3px;
    border-radius: 5px;
}


#saludo {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#agregarContacto {
    color: blue;
    padding: 10px;
}

ul li {
    text-decoration: none;
    list-style-type: none;
}

.divisor {
    margin-top: 50px;
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
    height: 80px;
}

img {
    height: 150px;
    position: relative;
    bottom: 55px;
}


p {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgba(50, 62, 236, 0.692);
}




#btn_id {
    margin-left: 130px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    letter-spacing: 10px;
    padding: 13px 20px 13px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

#btn_id::after {
    content: "";
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
}

#btn_id:hover:after {
    top: 0px;
    left: 0px;
}


@media (max-width: 800px) {
    button {
        display: block;
    }
}


input {
    background-color: #dadada;
    border-radius: 20px;
}




/* BOTON CONTACTOS */
#btn_contact {
    margin-left: 500px;
    background-color: #00a9d4;
    color: #000000;
    font-family: ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    text-align: center;
    text-decoration: none #000000 solid;
    cursor: pointer;
    transform: rotate(-2deg);
    touch-action: manipulation;
}

#btn_contact:focus {
    outline: 0;
}

#btn_contact:after {
    content: '';
    position: absolute;
    border: 1px solid #000000;
    bottom: 4px;
    left: 4px;
    width: calc(100% - 1px);
    height: calc(100% - 1px);
}

#btn_contact:hover:after {
    bottom: 2px;
    left: 2px;
}

@media (min-width: 768px) {
    #btn_contact {
        padding: .75rem 3rem;
        font-size: 1.25rem;
    }
}