nav {
    display: flex;
    justify-content: space-around;
    margin: 40px;
}


ul li {
    text-decoration: none;
    list-style-type: none;
}

.divisor {
    margin-top: 50px;
    background-color: rgba(50, 62, 236, 0.692);
    height: 80px;
}

img {
    height: 200px;
    position: relative;
    bottom: 100px;
}


p {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgba(50, 62, 236, 0.692);
}


button {
    margin-left: 100px;
    text-align: center;
    font-size: 16px;
    letter-spacing: 10px;
    padding: 13px 20px 13px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

button:after {
    content: "";
    background-color: rgba(50, 62, 236, 0.692);
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
}

button:hover:after {
    top: 0px;
    left: 0px;
}

@media (min-width: 768px) {
    button {
        padding: 13px 50px 13px;
    }
}